<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694723467614-86m5a5o2glue0b0adm4bna048o7q3bha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694723467614-86m5a5o2glue0b0adm4bna048o7q3bha</string>
	<key>API_KEY</key>
	<string>AIzaSyBAnHAjruLRc8gO8EVG6813xLV4Rle5-rM</string>
	<key>GCM_SENDER_ID</key>
	<string>694723467614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipe.Eventful</string>
	<key>PROJECT_ID</key>
	<string>eventful-ac87c</string>
	<key>STORAGE_BUCKET</key>
	<string>eventful-ac87c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694723467614:ios:6661718e634a2a42d897cf</string>
</dict>
</plist>